section.main-body {
	min-height: 644px;
}

section.navbar {
   border-radius: 0px;
   border: 0px;
}

section.brand-header {
   border-top: 3px #d22 solid;
   background-color: #000;	
   margin-bottom: 0px;
} 
 
.brandtitle {
	color: #fff;
	font-size: 16pt;
	font-weight: bold;
	padding: 10px 0px 0px 20px;
	min-height: 50px; 
}

.brandtitle > small {
	color: #ddd;
	font-size: 12pt;
	margin-left: 20px;
	font-family: Overpass;
}

.footer {
   background-color: #222;
   color: #eee;
   border-top: 2px #666 solid;
   border-bottom: 2px #d22 solid;
   padding-top: 10px;
}

.panel-default {
	box-shadow: 5px 5px 5px 1px #ccc;
}

.approval-container {
	border: 1px #ccc solid; 
    border-radius: 3px;
	margin: 0px 0px 12px 0px;
	padding: 10px 0px 10px 0px;
	box-shadow: 5px 5px 5px 1px #ccc;
}

.info-pair {
	width: 100%;
	font-size: small;
}
.info-label {
	min-height: 12px;
	text-align: right;
	font-weight: bold;
	width: 30%;
	float: left;
}

.info-value {
	min-height: 12px;
	text-align: left;
	width: 68%;
	float: right;	
}



.main-body-grid {
  margin-top:0px;
  position:relative;
}

.main-body-grid > .grid-left,
.main-body-grid > .grid-right {
  padding:20px 0;
}

.main-body-grid > .grid-left {
  position:fixed;
  top:0px;
  bottom:0;
  padding-bottom:120px;
  overflow:auto;
}

.main-header-grid > .grid-left,
.main-body-grid > .grid-left {
  width:260px;
}

.main-header-grid > .grid-right,
.main-body-grid > .grid-right {
  margin-left:270px;
  position:relative;
}

.main-header-grid > .grid-left {
  float:left;
}

.main-body-grid .side-navigation {
  position:relative;
}

.main-body-grid .side-navigation.ng-hide {
  display:block!important;
}

