<div ng-controller="approvalsCtrl">

	<div class="row">
		<div class="col-xs-10">
			<legend>
				<span class="glyphicon glyphicon-ok"> </span> Approvals <span class="badge pull-right">{{model.approvals.length}}</span>
			</legend>
		</div>
		<div class="col-xs-2">
			<a href="#!/approvals/new">
				<button type="button" class="btn btn-primary btn-sm pull-right">
					<span class="glyphicon glyphicon-plus"> </span> <b>Create New Approval</b>
				</button>
			</a>
		</div>
	</div>
	<div class="row" ng-hide="model.initialized">
		<div class="alert alert-info" role="alert">
			<span class="glyphicon glyphicon-cloud-download"> </span> Loading approvals...
		</div>
	</div>

	<div ng-show="model.initialized">
		<div class="alert alert-{{issue.type}} alert-dismissible" role="alert" ng-repeat="issue in model.issues">
			<button type="button" class="close" data-dismiss="alert">
				<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
			</button>
			<strong>{{issue.type=='danger'|iif:'ERROR':'WARNING'}}</strong> {{issue.msg}}
		</div>

		<div class="row approval-container" ng-repeat="approval in model.approvals">
			<div class="col-xs-7">
				<p>
					<b><a href="#!/approvals/{{approval.id}}">{{approval.name}}</a></b>
				</p>
				<p class="description" ng-bind-html="approval.description | markdown"></p>
			</div>
			<div class="col-xs-4">
				<div class="info-pair">
					<span class="info-label">Steps</span> <span class="info-value"><span class="badge">{{approval.steps.length}} </span> <br /></span>
				</div>
				<div class="info-pair">
					<span class="info-label">Created</span> <span class="info-value">{{approval.created | date:'MMM d, y' }} <br /></span>
				</div>
				<div class="info-pair">
					<span class="info-label">Updated</span> <span class="info-value">{{approval.updated | date:'MMM d, y @ h:mma'}} <br /></span>
				</div>
				<div class="info-pair">
					<span class="info-label">Status</span> <span class="info-value"><span class="label label-primary">{{approval.status}}</span> <br /></span>
				</div>
			</div>

			<div class="col-xs-1">
				<button type="button" class="btn btn-default btn-xs pull-right" ng-click="removeApproval($index)">
					<span class="glyphicon glyphicon-minus"> </span>
				</button>
			</div>
		</div>
	</div>

</div>
