<div ng-controller="approvalViewerCtrl">
	<div class="row" ng-hide="model.initialized">
		<div class="alert alert-info" role="alert">
			<span class="glyphicon glyphicon-cloud-download"> </span> Loading approval...
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<legend>
				{{model.approval.name}} - Process Definition View 
			</legend>
		</div>
	</div>
	
	<iframe id="processFrame" ng-src="http://192.168.122.1:8080/business-central/org.kie.workbench.KIEWebapp/KIEWebapp.html?standalone=true&path=git://master@mortgage-demo/MortgageApplication/src/main/resources/com/redhat/bpms/examples/mortgage/MortgageApplication.bpmn2">
    </iframe>

    <style type="text/css">
	    #processFrame {
		    width: 100%;
		    height: 100%;
		    z-index: 1000;
		    background: #ccc;
		    top: 100px;
		    bottom: 250px;
		    left: 0px;
		    right: 0px;
		    position: fixed;
		}
    </style>
    <script type="text/javascript">
    $('#processFrame').ready(function () {
       //$('#processFrame').css('display', 'none');
    });
    $('#processFrame').load(function () {
        //$('#processFrame').css('display', 'none');
    });
    </script>

</div>