<div ng-controller="approvalDetailCtrl">
	<div class="row" ng-hide="model.initialized">
		<div class="alert alert-info" role="alert">
			<span class="glyphicon glyphicon-cloud-download"> </span> Loading approval...
		</div>
	</div>

	<div ng-show="model.initialized">
		<div class="alert alert-{{issue.type}} alert-dismissible" role="alert" ng-repeat="issue in model.issues">
			<button type="button" class="close" data-dismiss="alert">
				<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
			</button>
			<strong>{{issue.type=='danger'|iif:'ERROR':'WARNING'}}</strong> {{issue.msg}}
		</div>

		<div class="row">
			<div class="col-xs-9">
				<legend ng-show="model.approval.name">{{model.approval.name}}</legend>
				<legend ng-hide="model.approval.name">New Approval</legend>
			</div>
			<div class="col-xs-3" ng-hide="model.initialized == false">
				<button type="button" class="btn btn-success btn-sm" ng-click="saveApproval()" ng-disabled="!model.isDirty">
					<span class="glyphicon glyphicon-save"> </span> <b>Save</b>
				</button>
				<button type="button" class="btn btn-primary btn-sm" ng-click="generateProcess()" ng-disabled="model.isDirty">
					<span class="glyphicon glyphicon-flash"> </span> <b>Generate Process</b>
				</button>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-1">
				<label class="control-label" for="textinput">Name:</label>
			</div>
			<div class="col-xs-8 controls">
				<input type="text" class="form-control" placeholder="Name..." ng-model="model.approval.name" ng-change="changedName()" />
			</div>
			<div class="col-xs-1">
				<span ng-show="model.approval.status != 'na'"><b>Status:</b></span>
			</div>
			<div class="col-xs-2">
				<span ng-show="model.approval.status != 'na'"> <span class="label label-primary">{{model.approval.status}}</span>
				</span> <span class="label label-warning" ng-show="model.isDirty">modified</span> <span class="label label-danger" ng-hide="model.isValid">Invalid</span>
			</div>
		</div>

		<br />

		<div class="row">
			<div class="col-xs-1">
				<label class="control-label" for="textinput">Description:</label>
			</div>
			<div class="col-xs-8 controls">
				<textarea class="form-control" placeholder="Describe your approval..." rows="3" ng-model="model.approval.description" ng-change="changedDescription()"></textarea>
			</div>
			<div class="col-xs-1">
				<div ng-show="model.approval.id">
					<b>Id:</b>
				</div>
				<div ng-show="model.approval.created">
					<b>Created:</b>
				</div>
				<div ng-show="model.approval.updated">
					<b>Updated:</b>
				</div>
			</div>
			<div class="col-xs-2">
				<div ng-show="model.approval.id">{{model.approval.id}}</div>
				<div ng-show="model.approval.created">
					<span>{{model.approval.created | date:'MMM d, y' }}</span>
				</div>
				<div ng-show="model.approval.updated">
					<span>{{model.approval.updated | date: 'MMM d, y @ h:mma'}}</span>
				</div>
			</div>
		</div>

		<br />

		<div class="row">
			<div class="col-xs-1">
				<label class="control-label" for="textinput">Steps:</label>
			</div>
			<div class="col-xs-2">
				<button type="button" class="btn btn-default btn-sm" ng-click="addStep()">
					<span class="glyphicon glyphicon-plus"> </span> Add Step
				</button>
			</div>
		</div>

		<br />

		<div class="row">
			<div class="col-xs-4" ng-repeat="step in model.approval.steps">
				<div class="panel panel-default">
					<div class="panel-heading">
						<b>Step {{$index + 1}}</b> <span class="badge">{{step.approvers.length}}</span>
						<button type="button" class="btn btn-default btn-xs pull-right" ng-click="removeStep(step)">
							<span class="glyphicon glyphicon-minus"> </span>
						</button>
					</div>
					<div class="panel-body">
						<div>
							<div class="dropdown pull-left">
								<button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
									Add <span class="caret"></span>
								</button>
								<ul class="dropdown-menu" role="menu">
									<li ng-repeat="principal in model.principalList"><a role="menuitem" href ng-click="addApprover(step, principal)">{{principal.label}}</a></li>
								</ul>
							</div>
							<div class="btn-group pull-right" data-toggle="buttons">
								<label class="btn btn-primary btn-sm {{step.type=='any'|iif:'active':''}}" ng-click="setStepType(step, 'any')"> <input type="radio" ng-model="step.type" value="any" />
									Any
								</label> <label class="btn btn-primary btn-sm {{step.type=='all'|iif:'active':''}}" ng-click="setStepType(step, 'all')"> <input type="radio" ng-model="step.type"
									value="all" /> All
								</label>
							</div>
							<div class="divider">
								<br /> <br />
							</div>
						</div>
						<div ng-repeat="approver in step.approvers">
							<div class="input-group">
								<input type="text" class="form-control" disabled="disabled" value="{{approver.label}}" /> <span class="input-group-addon">
									<button type="button" class="btn btn-default btn-xs" ng-click="removeApprover(step, approver)">
										<span class="glyphicon glyphicon-minus"> </span>
									</button>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>