<div ng-controller="groupMgmtCtrl">

	<div class="alert alert-{{issue.type}} alert-dismissible" role="alert" ng-repeat="issue in model.issues">
		<button type="button" class="close" data-dismiss="alert">
			<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
		</button>
		<strong>{{issue.type=='danger'|iif:'ERROR':'WARNING'}}</strong> {{issue.msg}}
	</div>

	<div class="row">
		<div class="col-xs-10">
			<legend>
				<span class="glyphicon glyphicon-user"> </span> Group Management
			</legend>
		</div>
		<div class="col-xs-2">
			<a href ng-click="addGroup()">
				<button type="button" class="btn btn-primary btn-sm pull-right">
					<span class="glyphicon glyphicon-plus"> </span> <b>Create New Group</b>
				</button>
			</a>
		</div>
	</div>

	<div class="row" ng-hide="model.initialized">
		<div class="alert alert-info" role="alert">
			<span class="glyphicon glyphicon-cloud-download"> </span> Loading groups...
		</div>
	</div>

	<div ng-show="model.initialized">

		<div class="row">
			<div class="col-xs-4" ng-repeat="group in model.groups">
				<div class="panel panel-default">
					<div class="panel-heading">
						<b>Group: {{group.displayName}}</b>
						<button type="button" class="btn btn-default btn-xs pull-right" ng-click="removeGroup(group)" ng-show="!group.original">
							<span class="glyphicon glyphicon-minus"> </span>
						</button>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">ID:</label>
							</div>
							<div class="col-xs-9">
								<input type="text" class="form-control" placeholder="enter group id..." ng-model="group.id" ng-disabled="!group.original" />
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">Name:</label>
							</div>
							<div class="col-xs-9">
								<input type="text" class="form-control" placeholder="enter name..." ng-model="group.displayName" />
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right" for="name">Email:</label>
							</div>
							<div class="col-xs-9">
								<input type="text" class="form-control" placeholder="enter email address..." ng-model="group.email" />
							</div>
						</div>
						<div class="divider">
							<br />
						</div>
						<div class="row">
							<div class="col-xs-12">
								<button type="button" class="btn btn-success btn-sm pull-right" ng-click="saveGroup(group)" ng-disabled="!group.id">
									<span class="glyphicon glyphicon-floppy-disk"> </span> Save
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<br />
		</div>

	</div>

</div>