<div ng-controller="userMgmtCtrl">

	<div class="alert alert-{{issue.type}} alert-dismissible" role="alert" ng-repeat="issue in model.issues">
		<button type="button" class="close" data-dismiss="alert">
			<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
		</button>
		<strong>{{issue.type=='danger'|iif:'ERROR':'WARNING'}}</strong> {{issue.msg}}
	</div>

	<div class="row">
		<div class="col-xs-10">
			<legend>
				<span class="glyphicon glyphicon-user"> </span> User Management
			</legend>
		</div>
		<div class="col-xs-2">
			<a href ng-click="addUser()">
				<button type="button" class="btn btn-primary btn-sm pull-right">
					<span class="glyphicon glyphicon-plus"> </span> <b>Create New User</b>
				</button>
			</a>
		</div>
	</div>

	<div class="row" ng-hide="model.initialized">
		<div class="alert alert-info" role="alert">
			<span class="glyphicon glyphicon-cloud-download"> </span> Loading users...
		</div>
	</div>

	<div ng-show="model.initialized">

		<div class="row">

			<div class="col-xs-4" ng-repeat="user in model.users">
				<div class="panel panel-default">
					<div class="panel-heading">
						<b>User: {{user.displayName}}</b> <span class="badge">{{user.groups.length}}</span>
						<button type="button" class="btn btn-default btn-xs pull-right" ng-click="removeUser(user)" ng-show="!user.original">
							<span class="glyphicon glyphicon-minus"> </span>
						</button>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">User ID:</label>
							</div>
							<div class="col-xs-9">
								<input type="text" class="form-control" placeholder="enter username..." ng-model="user.id" ng-disabled="!user.original" />
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right">Name:</label>
							</div>
							<div class="col-xs-9">
								<input type="text" class="form-control" placeholder="enter name..." ng-model="user.displayName" />
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3">
								<label class="control-label pull-right" for="name">Email:</label>
							</div>
							<div class="col-xs-9">
								<input type="text" class="form-control" placeholder="enter email address..." ng-model="user.email" />
							</div>
						</div>
						<div class="divider">
							<br />
						</div>
						<div>
							<div class="dropdown pull-left">
								<button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" ng-disabled="user.original">
									Add Assignment <span class="caret"></span>
								</button>
								<ul class="dropdown-menu" role="menu">
									<li ng-repeat="group in model.groups"><a role="menuitem" href ng-click="addAssignment(user, group)">{{group.displayName}}</a></li>
								</ul>
							</div>
							<div class="divider">
								<br /> <br />
							</div>
						</div>
						<div ng-repeat="assignmentId in user.groups">
							<div class="input-group">
								<input type="text" class="form-control" disabled="disabled" value="{{assignmentId}}" /> <span class="input-group-addon">
									<button type="button" class="btn btn-default btn-xs" ng-click="removeAssignment(user, assignmentId)">
										<span class="glyphicon glyphicon-minus"> </span>
									</button>
								</span>
							</div>
						</div>
						<div class="divider">
							<br />
						</div>
						<div class="row">
							<div class="col-xs-12">
								<button type="button" class="btn btn-success btn-sm pull-right" ng-click="saveUser(user)" ng-disabled="!user.id">
									<span class="glyphicon glyphicon-floppy-disk"> </span> Save
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>